<div class="jumbotron jumbotron-fluid bg-dark text-light text-center mt-5">
    <div class="container">
        <h1 class="display-3">Gourmet Scrapings</h1>
        <p class="lead my-3">Gathering bits of news and delivering them to you!</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-warning btn-lg" href="/scrape" role="button">Commence Article Scraping</a>
        </p>
    </div>
</div>