/* Base -------------------- */

body {
    font: 1.1em "Carme", sans-serif;
}

/* Navbar + Jumbotron -------------------- */

.navbar,
.jumbotron-fluid {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

/* Jumbotron -------------------- */

.jumbotron-fluid .display-3,
.jumbotron-fluid .lead:first-of-type {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

.jumbotron-fluid .btn {
    position: relative;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);
}

.jumbotron-fluid .btn:active {
    top: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

/* Articles -------------------- */

.articles {
    padding-top: 75px;
}

.articles a {
    color: #ffc008;
}

/* Subtitle + Card -------------------- */

.subtitle,
.card-body h5,
.card-body p {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

/* Card -------------------- */

.card {
    border: 2px solid #ffc008;
}

.card-img-top {
    border-bottom: 1px solid #ffc008;
}

/* Modal -------------------- */

.modal-body p {
    align-items: center;
    padding-top: 10px;
}
